# IDE files
.idea/
.gradle/
.dart_tool/
.kotlin/
.flutter-plugins
.flutter-plugins-dependencies

# Build artifacts
**/build/
build/

# Local configuration
local.properties
pubspec.lock
**/pubspec.lock
